click==8.0.3               # A package for creating command line interfaces
Flask==2.0.2               # The Flask web framework
itsdangerous==2.0.1        # Provides various utilities for securely dealing with untrusted data
Jinja2==3.0.3               # A template engine for Python
MarkupSafe==2.0.1          # A library for escaping HTML and XML characters
Werkzeug==2.0.2            # A WSGI utility library for Python
requests==2.26.0           # Library for making HTTP requests
beautifulsoup4==4.10.0     # Library for parsing HTML and XML documents
